<!DOCTYPE html>
<html lang="en" ng-app="calendarDemoApp" id="top">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HARLEY H.O.G.</title>



    <!--FONTS-->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../Calendar/bower_components/bootstrap-css/css/bootstrap.css" />
    <link rel="stylesheet" href="../Calendar/bower_components/fullcalendar/fullcalendar.css">
    <link rel="stylesheet" href="calendarDemo.css" />

    <!--BOWER FOR CALENDAR-->
    <script src="../Calendar/bower_components/jquery/dist/jquery.js"></script>
    <script src="../Calendar/bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="../Calendar/bower_components/angular/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="../Calendar/bower_components/fullcalendar/fullcalendar.js"></script>
    <script src="../Calendar/bower_components/fullcalendar/gcal.js"></script>
    <script src="../Calendar/src/calendar.js"></script>
    <script src="calendarDemo.js"></script>
</head>






<!-- <body data-spy="scroll"> -->

<body>

<!--CALENDAR-->
        <section id="directives-calendar" ng-controller="CalendarCtrl">

<!-- NAV-->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="../index.html">
                    <i class="fa fa-play-circle"></i>  <span class="light">Home</span>
                </a>
            </div>
        </div><!--.container -->  
    </nav>




            <div class="well">
                <div class="">
                    <div class="span6 positionCenter">
                        <tabset>
                            <tab select="renderCalender(myCalendar1);">
                              <tab-heading>
                               <i class="glyphicon glyphicon-bell"></i> Ride Calendar
                              </tab-heading>                              
                              <div class="">
                                <div class="">
                                    <button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar1)">AgendaDay</button>
                                    <button class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar1)">AgendaWeek</button>
                                    <button class="btn btn-success" ng-click="changeView('month', myCalendar1)">Month</button>
                                </div>
                              </div>
                            <div ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar" ui-calendar="uiConfig.calendar">
                            </div>
                            <center>
                            </tab>
                        </tabset>
                        </div>

                     <div class="span6 alert-success calAlert row-fluid">

                                <!--PORTLAND-->
                            <div class="span6" ng-show ="clickedRide === 'Portland'">
                                <h4><center>{{alertMessage}}</center></h4>
                                
                                <iframe 
                                class="span6"
                                id = "map" 
                                width="250" 
                                height="250" 
                                frameborder="2" 
                                style="border:2" 
                                waypoints="Boise,Idaho"
                                src="https://www.google.com/maps/embed/v1/directions?origin=Ogden%2C%20UT%2C%20United%20States
                                &destination=portland%20oregon
                                &key=AIzaSyB_hdduquNNKypbRMno9ljFtikoBh7ekcE
                                &center=49,-123
                                &zoom=6
                                &maptype=satellite"
                                >
                                </iframe>
                            </div>
                            <div>
<!--                                 {{alertDescription}} -->

                            </div>




                                <!--DENVER-->
                            <div class="span6" ng-show ="clickedRide === 'Denver'">  
                                <h4><center>{{alertMessage}}</center></h4>
                                <iframe 
                                id = "map" 
                                width="600" 
                                height="450" 
                                frameborder="0" 
                                style="border:0" 
                                src="https://www.google.com/maps/embed/v1/directions?origin=Ogden%2C%20UT%2C%20United%20States
                                &destination=denver%20colorado
                                &key=AIzaSyB_hdduquNNKypbRMno9ljFtikoBh7ekcE
                                &center=45,-115
                                &zoom=6.7
                                &maptype=satellite">
                                </iframe>

                            </div>

                                <!--PHOENIX-->
                            <div class="span6" ng-show ="clickedRide === 'Phoenix'">    
                                <h4><center>{{alertMessage}}</center></h4>
                                <iframe 
                                id = "map" 
                                width="600" 
                                height="450" 
                                frameborder="0" 
                                style="border:0" 
                                src="https://www.google.com/maps/embed/v1/directions?origin=Ogden%2C%20UT%2C%20United%20States
                                &destination=phoenix%20arizona
                                &key=AIzaSyB_hdduquNNKypbRMno9ljFtikoBh7ekcE
                                &center=49,-120
                                &zoom=6
                                &maptype=satellite">
                                </iframe>


                            </div>

                        </center>

                    </div>
<!--ADD EVENT-->
                    <div class="span4 addCalendar ng-hide">
                        <div class="btn-group calTools addCalendar">           
                          <button class="btn" ng-click="addRemoveEventSource(eventSources,eventSource)">
                            Toggle Source
                          </button>
                          <button type="button" class="btn btn-primary" ng-click="addEvent()">
                            Add Event
                          </button>
                        </div>

                        <ul class="unstyled">
                            <li ng-repeat="e in events">
                                <div class="alert alert-info">
                                    <a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
                                    <b> <input ng-model="e.title"></b> 
                                    {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
        </section>
<!--END ADD EVENT-->

    </div>
</div>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-17352735-3']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>

        <!--GOOGLE MAPS API-->
   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_hdduquNNKypbRMno9ljFtikoBh7ekcE&sensor=false"></script>
   
    <script src="map.js"></script>
    </body>
</html>













<!-- CUSTOM ANGULAR MAP PROJECT -->



<!-- 
<section id="map">
<h4>Click to add a marker!</h4>
<p>{{zoomMessage}}</p>
<ul>
  <li ng-repeat="marker in myMarkers">
    <a ng-click="myMap.panTo(marker.getPosition())">Pan to Marker {{$index}}</a>
  </li>
</ul>
  -->
<!-- this is the confusing part. we have to point the map marker directive
  at an existing google.maps.Marker object, so it can hook up events -->
<!-- <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
  ui-event="{'map-click': 'openMarkerInfo(marker)'}">
</div> -->
 
<!-- <div ui-map-info-window="myInfoWindow">
  <h1>Marker</h1>
  Lat: <input ng-model="currentMarkerLat">, Lng: <input ng-model="currentMarkerLng">
  <a ng-click="setMarkerPosition(currentMarker, currentMarkerLat, currentMarkerLng)">Set Position</a>
</div> -->
 
<!-- Giving the div an id="map_canvas" fix problems with twitter bootstrap affecting
google maps -->
<!-- <div id="map_canvas" ui-map="myMap" class="map"
  ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"
  ui-options="mapOptions">
</div>
</section>
 -->
